@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

.nameday {
    background: lightgray !important;
    font-size: 17px !important;
}


.lec {
   background: #50a170 !important;
   color:white;
}

.prac {
   background: #5eadbd !important;
   color: white;
}

.lab {
    background: #f5b07f !important; 
    color: white;
}

.none {	
	color: transparent;
}

.title {
    font-size: 15px;
    line-height: 15px;
}

.teacher {
    font-size: 10pt;
    color: #999999;
    float: left;
}

.auditory {
    font-size: 10pt;
    color: #999999;
    float: right;
}

.date {
    font-size: 10pt;
    color: #999999;
    font-weight: normal;
}

#information {
margin: 0 20px 5px 0;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

th {text-align:center}

.tablerow {
    /*height: 30px;*/
}

.tableday{
    display: table;
}

.tableday tr {
    min-height: 50px;
}

.tableday td {
    overflow: hidden;
}

.lesson-number {
    width: 30px;
    text-align: center;
}

.subgroup-lesson {
    overflow: auto;
}

#week-schedule-inner {
    width: 70%;
    margin: 0 auto;
    overflow: auto;
}