<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:image" content="http://www.eng.biu.ac.il/meo/files/2013/03/schedule-icon.jpg"/>
    <meta property="og:title" content="Учебное расписание МГТУ ГА"/>
    <meta property="og:description" content=""/>
    <title>Учебное расписание МГТУ ГА</title>
    <link href="{{ STATIC_URL }}/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}/static/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/sticky-footer-navbar.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/no-more-tables.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/styles.css"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}/assets/js/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}/assets/js/respond.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Учебное расписание МГТУ ГА</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#weekSchedule">Недельное расписание</a></li>
                    <li>
                        <select id="teachers-list" class="form-control">
                            <option value disabled selected>Выберите преподавателя</option>
                            {% for option in teachers_list %}
                                <option value="{{ option.id }}">{{ option.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <!--<div class="span12" style="padding-top: 5px;">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong div id="infoTitle">Изменения в расписании!</strong>
            <span id="infoContent">Перенесена лекция проф. Рудельсон Л.Е. с 3.06 на 12.06.</span>
        </div>
    </div>  -->
    </div>
    <div class="container-fluid" role="main">
        <div class="row-fluid">
            <div id="weekSchedule" class="col-md-9">
                <div id="week-schedule-inner">

                </div>
            </div>
            <div class="col-md-3 well">
                <div id="menu" class="sidebar-nav">
                    <!--Side menu-->
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/.fluid-container-->
</div>

<div id="footer" class="visible-lg">
    <div class="container">
        <p class="text-muted credit">Разработка <a href="http://mstuca.ru">МГТУ ГА</a>.</p>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ STATIC_URL }}/static/assets/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}/static/js/bootstrap/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}/static/js/handlebars-v1.3.0.js"></script>
<script src="{{ STATIC_URL }}/static/js/main.js"></script>

</body>
</html>